@font-face {
    font-family: 'merriweatherheavy';
    src: url('../font/merriweather-black/merriweather-black.eot');
    src: url('../font/merriweather-black/merriweather-black.eot?#iefix') format('embedded-opentype'),
         url('../font/merriweather-black/merriweather-black.woff2') format('woff2'),
         url('../font/merriweather-black/merriweather-black.woff') format('woff'),
         url('../font/merriweather-black/merriweather-black.ttf') format('truetype'),
         url('../font/merriweather-black/merriweather-black.svg#merriweatherheavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'merriweatherlight';
    src: url('../font/merriweather-light/merriweather-light.eot');
    src: url('../font/merriweather-light/merriweather-light.eot?#iefix') format('embedded-opentype'),
         url('../font/merriweather-light/merriweather-light.woff2') format('woff2'),
         url('../font/merriweather-light/merriweather-light.woff') format('woff'),
         url('../font/merriweather-light/merriweather-light.ttf') format('truetype'),
         url('../font/merriweather-light/merriweather-light.svg#merriweatherlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'merriweatherregular';
    src: url('../font/merriweather-regular/merriweather-regular.eot');
    src: url('../font/merriweather-regular/merriweather-regular.eot?#iefix') format('embedded-opentype'),
         url('../font/merriweather-regular/merriweather-regular.woff2') format('woff2'),
         url('../font/merriweather-regular/merriweather-regular.woff') format('woff'),
         url('../font/merriweather-regular/merriweather-regular.ttf') format('truetype'),
         url('../font/merriweather-regular/merriweather-regular.svg#merriweatherregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratbold';
    src: url('../font/montserrat-bold/montserrat-bold.eot');
    src: url('../font/montserrat-bold/montserrat-bold.eot?#iefix') format('embedded-opentype'),
         url('../font/montserrat-bold/montserrat-bold.woff2') format('woff2'),
         url('../font/montserrat-bold/montserrat-bold.woff') format('woff'),
         url('../font/montserrat-bold/montserrat-bold.ttf') format('truetype'),
         url('../font/montserrat-bold/montserrat-bold.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src: url('../font/montserrat-regular/montserrat-regular.eot');
    src: url('../font/montserrat-regular/montserrat-regular.eot?#iefix') format('embedded-opentype'),
         url('../font/montserrat-regular/montserrat-regular.woff2') format('woff2'),
         url('../font/montserrat-regular/montserrat-regular.woff') format('woff'),
         url('../font/montserrat-regular/montserrat-regular.ttf') format('truetype'),
         url('../font/montserrat-regular/montserrat-regular.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}