a, a:hover, a:active, a:visited, a:focus{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, span, a, p{
    margin: 0;
}
a, p, label, span{
    color: #000;
}
