@import "lib/bootstrap/variables";
@import "lib/bootstrap/mixins";
@import "variables-mixins";
@import "fonts.css";
@import "base";

#wrapper {
	font-size: 10px;
	width: 100%;
	height: 100vh;
	background-image: url("../image/bkgnd.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.container {
	width: 100%;
	max-width: 1130px;
	margin: 0 auto;
	padding: 0;
	@media (max-width: 1150px) {
		padding: 0 10px;
	}
}
header {
	padding-top: 15px;
}
#logo {
	float: left;
}
.auth {
	float: right;
	a {
		font-family: 'montserratregular';
		font-size: 12px;
		line-height: 53px;
		padding: 0 5px;
		text-transform: uppercase;
		&:first-child {
			border-right: 1px solid #000;
		}
	}
}

footer {
	position: fixed;
	bottom: 10px;
	width: 100%;
	a, span {
		font-family: 'montserratregular';
		font-size: 12px;
		text-transform: uppercase;
	}
}
.menu {
	@include make-sm-column(8);
	padding: 0;
	li {
		float: left;
		margin-right: 70px;
	}
}
.copyright {
	@include make-sm-column(2);
	padding: 0;
	@media (max-width: 767px) {
		width: 100%;
		float: left;
	}
}
.social {
	@include make-sm-column(2);
	padding: 0;
	a {
		width: 20px;
		height: 20px;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-position: center center;
		float: right;
		margin-left: 10px;
		text-indent: -999em;
		outline: 0;
	}
}
.facebook {
	background-image: url("../image/Retina_Facebook.png");
}
.twitter {
	background-image: url("../image/Retina_Twitter.png");
}

.login-box {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border: 1px solid #000;
	padding: 40px;
	background-color: #fff;
	max-width: 503px;
	z-index: 10;
	form {
		font-family: 'montserratbold';
		text-transform: uppercase;
		.alert-danger {
			text-transform: capitalize;
			background: none;
		}
	}
}
.lb-line1 {
	float: left;
	width: 100%;
	ul {
		float: left;
		width: 100%;
	}
	li {
		float: left;
		font-size: 12px;
		margin-right: 20px;
		&:last-child {
			margin-right: 0;
		}
		input[type="checkbox"] {
			margin-top: 2px;
		}
	}
}
.checkbox {
	margin-top: 0 !important;
}
.lb-line {
	float: left;
	width: 100%;
	margin-bottom: 10px;
	&:last-child {
		margin-bottom: 0;
	}
}
.lb-line2 {
	border: 1px solid #000;
	text-align: center;
	padding: 5px 0;
	font-size: 12px;
}
.lb-line3 {
	font-size: 12px;
}
.lb-line4 {
	ul {
		float: left;
		width: 100%;
	}
	li {
		float: left;
		border: 1px solid lightgrey;
		padding: 5px 12px;
		margin: 0 5px 5px 0;
		font-size: 12px;
		cursor: pointer;
	}
}
.lb-line5 {
	text-align: center;
	font-size: 12px;
	margin-top: 10px;
}
.lb-line6 {
	text-align: center;
	font-family: 'merriweatherregular';
	font-size: 12px;
	text-transform: none;
	a {
		text-decoration: underline;
	}
}
.lb-text {
	width: 100%;
	height: 27px;
	border: 1px solid #000;
	text-align: center;
}
.lb-line7 {
	input {
		font-family: 'merriweatherregular';
		font-size: 10px;
	}
}
.lb-line8 {
	input {
	}
}
.lb-line9 {
	label {
		font-size: 12px;
		line-height: 2.5;
		input[type="checkbox"] {
			margin-top: -2px;
		}
	}
	.checkbox {
		display: inline;
	}
	> a {
		float: right;
		margin-left: 10px;
	}
}
.forgotpass {
	text-decoration: underline;
	text-transform: capitalize;
	font-family: 'merriweatherregular';
	font-size: 10px;
	line-height: 3;
}
.login-btn {
	font-size: 12px;
	background-color: #000;
	color: #fff;
	padding: 5px 10px;
}
.selected {
	border: 1px solid #000 !important;
}
.text-error {
	border: 1px solid #ff0000;
}