<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="assets/lib/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="app" ng-controller="MainController as main">
    <div id="wrapper">
      <header ng-include="'app/shared/header/header.view.html'"></header>
      <main>
        <div class="login-box" ng-if="main.status==='login'">
          <form ng-controller="LoginController as login">
            <div class="lb-line lb-line1">
              <ul>
                <li>
                  i want to
                </li>
                <li class="checkbox" ng-repeat="want in login.wants">
                  <label>
                    <input type="checkbox">{{want}}
                  </label>
                </li>
              </ul>
            </div>
            <div class="lb-line lb-line2">
              artists name
            </div>
            <div class="lb-line lb-line3">
              i am a
            </div>
            <div class="lb-line lb-line4">
              <ul>
                <li ng-repeat="who in login.whoes" ng-click="login.setWho(who)" ng-class="{'selected':who==login.who}">{{who}}</li>
              </ul>
            </div>
            <div class="lb-line lb-line5">
              to continue please log-in
            </div>
            <div class="lb-line lb-line6">
              <span>Don't have an Artwishlist account?</span>
              <a href="#">Create one now</a>
            </div>
            <div class="lb-line lb-line7">
              <label class="alert-danger" ng-show="login.emailError">{{login.emailError}}</label>
              <input type="text" placeholder="Enter Email" class="lb-text" ng-class="{'text-error':login.emailError!==''}" ng-model="login.email">
            </div>
            <div class="lb-line lb-line8">
              <label class="alert-danger" ng-show="login.passError">{{login.passError}}</label>
              <input type="password" placeholder="Enter Password" class="lb-text" ng-class="{'text-error':login.passError!==''}" ng-model="login.pass">
            </div>
            <div class="lb-line lb-line9">
              <div class="checkbox">
                <label>
                  <input type="checkbox">remember me
                </label>
              </div>
              <a href="#" class="login-btn" ng-click="login.validate()">log-in</a>
              <a href="#" class="forgotpass">forget password?</a>
            </div>
          </form>
        </div>
      </main>
      <footer ng-include="'app/shared/footer/footer.view.html'"></footer>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/lib/jquery/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="assets/lib/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <script src="assets/lib/angular/angular.min.js"></script>
    <script src="app/components/login/login.module.js"></script>
    <script src="app/components/login/login.controller.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/main.controller.js"></script>
  </body>
</html>