<div class="container">
  <ul class="menu">
    <li>
      <a href="#">about</a>
    </li>
    <li>
      <a href="#">contact</a>
    </li>
    <li>
      <a href="#">legal</a>
    </li>
    <li>
      <a href="#">press</a>
    </li>
    <li>
      <a href="#">feedback</a>
    </li>
    <li>
      <a href="#">jobs</a>
    </li>
  </ul>
  <div class="copyright">
    <span>©2014 artwishlist</span>
  </div>
  <div class="social">
    <a href="#" class="twitter">twitter</a>
    <a href="#" class="facebook">facebook</a>
  </div>
</div>