<div class="container">
  <div id="logo">
    <a href="#">
      <img src="assets/image/logo.png" alt="">
    </a>
  </div>
  <div class="auth">
    <a href="#">sign up</a>
    <a href="#" ng-click="main.openWindow('login')">login</a>
  </div>
</div>